<h2 mat-dialog-title>Results</h2>
<mat-dialog-content *ngIf=spinner class="mat-typography">
  <h3 style="text-align:center">Please wait while fetching your results.</h3>
  <mat-spinner style="margin-left:auto;margin-right:auto;"></mat-spinner>
</mat-dialog-content>
<mat-dialog-content *ngIf=erroroccured  class="mat-typography" >

  <h3> <strong> OOPS! Some error has occurred. </strong></h3>
  <p>
    please check your internet connection<br>
    make sure you entered all the values correctly<br>
    and try again.
  </p>
</mat-dialog-content>
<mat-dialog-content *ngIf=results class="mat-typography">
  <h3>Age</h3>
  <p>{{data.get('age')}}</p>
  <mat-divider></mat-divider>
  <h3>Gender</h3>
  <p>{{gender[data.get('gender')]}}</p>
  <mat-divider></mat-divider>
  <h3>Chest pain type</h3>
  <p>{{chestpaintype[data.get('chestpain')]}}</p>
  <mat-divider></mat-divider>
  <h3>Blood pressure</h3>
  <p>{{data.get('restingbloodpressur')}} mmgh</p>
  <mat-divider></mat-divider>
  <h3>Cholostrol levels</h3>
  <p>{{data.get('cholostrollevels')}}</p>
  <mat-divider></mat-divider>
  <h3>Suger levels</h3>
  <p>{{sugerlevel[data.get('bloodsugerlevels')]}}</p>
  <mat-divider></mat-divider>
  <h3>electrocardiographic results</h3>
  <p>{{ecg[data.get('ecgresults')]}}</p>
  <mat-divider></mat-divider>
  <h3>Maximum Heart Rate Achieved</h3>
  <p>{{data.get('maximumheartrateachived')}}</p>
  <mat-divider></mat-divider>
  <h3>Exercie Induced Agina</h3>
  <p>{{eia[data.get('exercieinducedagina')]}}</p>
  <mat-divider></mat-divider>
  <h3>ST Depression Induced by exercise</h3>
  <p>{{data.get('STdepressioninducedbyexercise')}}</p>
  <mat-divider></mat-divider>
  <h3>Slope Of The Peak Exercise ST segment</h3>
  <p>{{slope[data.get('slopest')]}}</p>
  <mat-divider></mat-divider>
  <h3>Major Vessels Colored By flourosopy</h3>
  <p>{{data.get('majorvesselscolored')}}</p>
  <mat-divider></mat-divider>
  <h3> Thalassemia (thal-uh-SEE-me-uh) present in the body</h3>
  <p>{{thala[data.get('Thalassemia')]}}</p>
  <mat-divider></mat-divider>
  <h3 *ngIf=fir style="margin-top: 20px; text-align: center">
    According to your inputs.<br>
    our model has predected that<br>
    <strong> That you have chances of getting a heart disease. </strong>
    <br><br>
    Thanks for using our services.
  </h3>
  <h3 *ngIf=sec style="margin-top: 20px; text-align: center">
    According to your inputs.<br>
    our model has predected that<br>
    <strong> That you don't have chances of getting a heart disease. </strong>
    <br><br>
    Thanks for using our services.
  </h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>