<h2 mat-dialog-title>Results</h2>
<mat-dialog-content class="mat-typography">
  <h3>Age</h3>
  <p>{{data.get('age')}}</p>
  <mat-divider></mat-divider>
  <h3>Gender</h3>
  <p>{{data.get('gender')}}</p>
  <mat-divider></mat-divider>
  <h3>Chest pain type</h3>
  <p>{{data.get('chestpain')}}</p>
  <mat-divider></mat-divider>
  <h3>Blood pressure</h3>
  <p>{{data.get('restingbloodpressur')}} mmgh</p>
  <mat-divider></mat-divider>
  <h3>Suger levels</h3>
  <p>{{data.get('bloodsugerlevels')}}</p>
  <mat-divider></mat-divider>
  <h3>electrocardiographic results</h3>
  <p>{{data.get('ecgresults')}}</p>
  <mat-divider></mat-divider>
  <h3>Maximum Heart Rate Achieved</h3>
  <p>{{data.get('maximumheartrateachived')}}</p>
  <mat-divider></mat-divider>
  <h3>Exercie Induced Agina</h3>
  <p>{{data.get('exercieinducedagina')}}</p>
  <mat-divider></mat-divider>
  <h3>ST Depression Induced by exercise</h3>
  <p>{{data.get('STdepressioninducedbyexercise')}}</p>
  <mat-divider></mat-divider>
  <h3>Slope Of The Peak Exercise ST segment</h3>
  <p>{{data.get('slopest')}}</p>
  <mat-divider></mat-divider>
  <h3>Major Vessels Colored By flourosopy</h3>
  <p>{{data.get('majorvesselscolored')}}</p>
  <mat-divider></mat-divider>
  <h3> Thalassemia (thal-uh-SEE-me-uh) present in the body</h3>
  <p>{{data.get('Thalassemia')}}</p>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>