/*
#ADEFD1

#00203F


#0099ff
*/

.entire_page{
    background-color: #00203F;
    height:100%;
    width:100%;
    position: fixed;
    z-index: -3;
}
.top_blob{
    position: fixed;

    z-index: -1;
   
    
   
}
.top_blob1{
    position: fixed;

    z-index: -2;
  transform: translateY(10px);
    
   
}
.bottom_blob{
    position: fixed;

    bottom: 0;
    transform: translatey(60px);
   
    z-index: -2;
   
}
.login_page_main{

    display: flex;
}









.login_page_title
{
position: absolute;
bottom: 0;
color:#ADEFD1;
font-size:x-large;
margin-bottom:30px;
margin-left: 30px;
}




.login_page_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.main_page_about_image{
    height: 600px;
    width: 600px;
}


















.login_page_input_block{
    margin-left: auto;
    margin-right: 100px;
    margin-top: 150px;
}
.login_page_input_block_styling{
    background-color:#0c3b69;
    padding:50px;
    color:#ADEFD1;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login_page_input_block_title{
    text-align:center;
    font-size: x-large;
    font-weight:600;
}
.email{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: small;
}
.password{
    margin-top:10px;
    margin-bottom: 5px;
    font-size: small;
}
.email_input{
    background-color:transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition:.3s;
    transition-timing-function: ease-in-out;
    color:white;
    width: 100%;
}
.email_input:focus{
    transition:.3s;
    transition-timing-function: ease-in-out;
    border-color: #ADEFD1;
    outline: none;
    color:white;
    
}
.password_input{
    background-color:transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition:.3s;
    transition-timing-function: ease-in-out;
    color:white;
    width: 100%;
}
.password_input:focus{
    transition:.3s;
    transition-timing-function: ease-in-out;
    border-color: #ADEFD1;
    outline: none;
    color:white;
   
    
}
.login_button_style{
    margin-top:20px;
}
.divider{
    border-top-color: rgba(255, 255, 255, 0.377);
    margin-top:10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.not_a_user{
    text-align: center;
    font-size: medium;
}
.signup{
    cursor: pointer;
    transition:.3s;
    transition-timing-function: ease-in-out;
    font-size:small;
}
.signup:hover{
    transition:.3s;
    transition-timing-function: ease-in-out;
    color: orangered;
}
.forget_password{
    margin-top: 5px;
    font-size:medium;
}
.forgetpasswordlink{
    cursor: pointer;
    transition:.3s;
    transition-timing-function: ease-in-out;
font-size:small;
}
.forgetpasswordlink:hover{
    transition:.3s;
    transition-timing-function: ease-in-out;
    color: orangered;
}
.login_button_style{
    margin-top: 50px;
    text-align: center;
    font-family: "alata";
color: #00203F;
cursor: pointer;
font-size:15px;    
color: #FFF;
border: 2px solid rgb(2, 216, 205);
border-radius: 0px;
padding: 15px 30px;
display: inline-block;

box-shadow: inset 0 0 0 0 #ADEFD1;
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
margin-left: 50px;
}

.login_button_style:hover{
    /*
    box-shadow: rgba(233, 233, 233, 0.35) 0px 5px 15px;*/
    box-shadow: inset 400px 0 0 0 #ADEFD1;
    color: #00203F;
}