<div class="total_page">
</div>

<img  src="assets/images/register_page_images/topblob.svg" class="register_blob1" alt="vector.png">

<img  src="assets/images/register_page_images/bottomblob.svg" class="register_blob2" alt="vector.png">

<div class="outer">
    <div class="register_page_block">
        <div class="register_page_block1">
            <h2 class="register_page_subblock1">Welcome to HDS</h2>
            <p class="register_page_subblock2">
                Please register to secure your account<br> and access our features
            </p>
            <p class="register_page_subblock4">
               Dont have an account yet?
            </p>
            
                <div class="signup_logo">
                    <strong>signup </strong>
                </div>
            
            
            <img  src="assets/images/register_page_images/registergif1.gif" class="register_page_subblock3" alt="vector.png">
        </div>
        <div class="register_page_block2">
         <div class="register_page_block2_logo">
             <strong> HDS </strong> coopoweredby batch 2018-2022
         </div>
         <div class="register_page_block2_signup_logo">
             <h2>Sign up</h2>
         </div>
         <div  class="register_page_input_FullName_text">
             Full Name
         </div>
         <div class="register_page_input_FullName">
             <input  type="text" class="register_page_input_FullName_style" [(ngModel)]="name">
         </div>
         <div  class="register_page_input_email_text" [(ngModel)]="email">
            Email
        </div>
         <div class="register_page_input_email">
            <input  type="email" class="register_page_input_email_style" [(ngModel)]="password">
        </div>
        <div  class="register_page_input_password_text">
            Password
        </div>
        <div class="register_page_input_password">
            <input  type="password" class="register_page_input_password_style">
        </div>
        <div class="predect_button" (click)=" validate_inputs()">
                       
            signup
       
        </div>
        <mat-divider></mat-divider>
        <p class="already_regisgter">already registered: <span class="already_register_link"> login here</span></p>
        <p class="copowered">Created by 2018-2022 batch-15 VIIT.</p>    
    </div>
   
    </div>
</div>
